<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Goodbye</h1>
  <p>You've successfully logged out. Log back in and you should still have your prior context!</p>
  <p><%- linkTo('Click here to log back in.', loginPath) %></p>
</div>
